body {
    background-color: #1a1a1a; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #000; 
    width: 360px;
    min-height: 100vh;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 12px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.back-btn {
    color: orange;
    font-size: 22px;
    text-decoration: none;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.username {
    font-size: 15px;
    font-weight: bold;
}

.arrow {
    color: orange;
    font-size: 20px;
}

.divider {
    border: 0.5px solid #555;
    margin: 10px 0;
}

.chat-box {
    margin-top: 20px;
}

.msg {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 12px;
    font-size: 14px;
}

.me {
    background-color: #ffa58c;
    margin-left: auto;
    color: #000;
}

.other {
    background-color: #e4c6bf;
    margin-right: auto;
    color: #000;
}

.input-box {
    position: fixed;
    bottom: 20px;
    width: 330px;
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 25px;
}

.input-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #ccc;
    font-size: 14px;
}

.cam-icon {
    width: 20px;
    height: 20px;
}
